.help_highlighted_widget {
  border: 2px solid #43AA8B;
}

.help_popover {
  border: 2px solid #43AA8B;
}

.no_left_radius {
  border-radius: 0px 3px 3px 0px;
}

.no_right_radius {
  border-radius: 3px 0px 0px 3px;
}

.desktop_config_header {
  font-size: large;
  font-weight: bold;
}
